[submodule "msgs_matlab/px4_msgs"]
	path = msgs_matlab/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/autoware_msgs"]
	path = src/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
[submodule "msgs_matlab/autoware_msgs"]
	path = msgs_matlab/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
