[submodule "msgs_matlab/px4_msgs"]
	path = msgs_matlab/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/autoware_msgs"]
	path = src/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
[submodule "msgs_matlab/autoware_msgs"]
	path = msgs_matlab/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
[submodule "src/automotive_autonomy_msgs"]
	path = src/automotive_autonomy_msgs
	url = https://github.com/astuff/automotive_autonomy_msgs.git
[submodule "msgs_matlab/automotive_autonomy_msgs"]
	path = msgs_matlab/automotive_autonomy_msgs
	url = https://github.com/astuff/automotive_autonomy_msgs.git
[submodule "src/yolov8_ros"]
	path = src/yolov8_ros
	url = https://github.com/swarm-ai-robotics/yolov8_ros.git
