[submodule "src/automotive_autonomy_msgs"]
	path = src/automotive_autonomy_msgs
	url = https://github.com/astuff/automotive_autonomy_msgs.git
[submodule "msgs_matlab/automotive_autonomy_msgs"]
	path = msgs_matlab/automotive_autonomy_msgs
	url = https://github.com/astuff/automotive_autonomy_msgs.git
